{% extends 'blog/base.html' %}
{% load static %}
{% block title %}ABOUT{% endblock title %}
{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center mb-5">
                <h2 class="display-4 text-primary">ABOUT OUR TECH BLOG</h2>
                <p class="lead text-secondary">Welcome to our tech blog! We are passionate about exploring the ever-evolving landscape of technology and its impact on our lives. Whether you're a seasoned tech enthusiast or just starting to dip your toes into the digital world, our goal is to provide you with engaging, informative, and thought-provoking content.</p>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title text-center text-primary">Our Mission</h3>
                    <ul>
                        <li class="mb-3">
                            <span class="text-secondary">Empower individuals with knowledge and understanding of cutting-edge technologies.</span>
                        </li>
                        <li class="mb-3">
                            <span class="text-secondary">Foster a community of tech enthusiasts, where ideas are shared and discussions flourish.</span>
                        </li>
                        <li class="mb-3">
                            <span class="text-secondary">Provide insightful analysis and commentary on emerging trends and innovations in the tech industry.</span>
                        </li>
                        <li class="mb-3">
                            <span class="text-secondary">Inspire creativity and innovation by showcasing success stories and breakthroughs in technology.</span>
                        </li>
                        <li class="mb-3">
                            <span class="text-secondary">Promote inclusivity and diversity in technology, ensuring that everyone feels welcome and represented in our content.</span>
                        </li>
                    </ul>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
{% endblock content %}
